includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    level: 9

    checkMissingIterableValueType: false

    paths:
        - src/
        - tests/

    ignoreErrors:
        - message: '#Cannot call method .+ on Illuminate\\Testing\\PendingCommand\|int#'
          path: tests/Commands/*
