includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/larastan/larastan/extension.neon

parameters:

    level: 9

    paths:
        - src/
        - tests/

    ignoreErrors:
        - identifier: missingType.iterableValue
        - message: '#Cannot call method .+ on Illuminate\\Testing\\PendingCommand\|int#'
          identifier: method.nonObject
          path: tests/Commands/*
